/* ================= HERO ================= */


.gallery-hero,
.album-detail-hero {

    /* background:
        linear-gradient(rgba(0, 25, 92, .85),
            rgba(0, 54, 199, .85)); */

    background:
        linear-gradient(rgba(0, 25, 92, .85), rgba(0, 54, 199, .85)),
        url('../images/player.png');

    height: 350px;

    display: flex;

    align-items: center;

    text-align: center;

    color: white;

    margin-top: 5%;

}



.gallery-hero-content {

    width: 100%;

}



.gallery-hero h1 {

    font-size: 55px;

    font-weight: 900;

}



.gallery-hero p {

    font-size: 20px;

    color: #dce7ff;

}




.breadcrumb-box {

    display: flex;

    justify-content: center;

    gap: 10px;

    margin-top: 20px;

}



.breadcrumb-box a {

    color: white;

    text-decoration: none;

}



/* ================= ALBUM SECTION ================= */


.albums-section {

    padding: 80px 0;

    background: #f7f9fd;

}



.albums-section .row {

    justify-content: flex-start;

}



.album-card {

    background: #fff;

    border-radius: 25px;

    overflow: hidden;

    height: 100%;

    box-shadow:
        0 15px 40px rgba(0, 0, 0, .08);

    transition: .3s;

}



.album-card:hover {

    transform: translateY(-10px);

}




.album-image {

    height: 260px;

    position: relative;

    overflow: hidden;

}



.album-image img {

    width: 100%;

    height: 100%;

    object-fit: cover;

}




.album-overlay {

    position: absolute;

    inset: 0;

    display: flex;

    align-items: flex-end;

    padding: 25px;

    color: white;


    background:

        linear-gradient(transparent,
            rgba(0, 20, 70, .85));

}



.album-overlay h3 {

    font-size: 22px;

    font-weight: 900;

    margin-bottom: 10px;

}



.album-overlay span {

    font-size: 14px;

}




.album-content {

    padding: 25px;

}



.album-content p {

    color: #667085;

    line-height: 2;

    min-height: 60px;

}





.album-footer {

    margin-top: 20px;

    padding-top: 15px;

    border-top: 1px solid #edf1f7;


    display: flex;

    justify-content: space-between;

    align-items: center;

}



.album-footer span {

    color: #777;

    font-size: 14px;

}



.album-footer a {

    color: #0d6efd;

    text-decoration: none;

    font-weight: 700;

    font-size: 14px;

}



.album-footer a:hover {

    color: #0036c7;

}




/* ================= DETAIL ================= */



.album-gallery {

    padding: 70px 0;

    background: #f6f8fc;

}



.gallery-item {

    display: block;

    height: 280px;

    border-radius: 25px;

    overflow: hidden;

}



.gallery-item img {

    width: 100%;

    height: 100%;

    object-fit: cover;

    transition: .3s;

}



.gallery-item:hover img {

    transform: scale(1.08);

}